{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/export": "off",
    "react/react-in-jsx-scope": "off",
    "object-curly-newline": "off",
    "react/jsx-indent": "off",
    "react/jsx-fragments": "off",
    "react/jsx-wrap-multilines": "off",
    "operator-linebreak": "off",
    "no-extra-boolean-cast": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "radix": "off",
    "indent": "off"
  },
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaVersion": 2020
  }
}
